body {
    background-color: #f8f8f8;
}

.content-container {
    margin-top: 50px;
}

.content-item {
    background-color: #fafafa;
    border: solid 1px #dbdbdb;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.circle {
    border-radius: 50%;
    padding: 10px;
}

.drawn-numbers {
    margin-top: 20px;
}

.drawn-numbers .circle {
    width: 30px;
    height: 30px;
    margin-left: 3px;
    margin-right: 5px;
    border: solid 3px #b9b9b9;
    background: #2b2b2b;
    float:left;
}

.drawn-numbers p {
    font-weight: 700;
}

.drum .circle {
    width: 200px;
    height: 200px;
    margin: auto;
    border: solid 10px #b9b9b9;
    background: #2b2b2b;
}

#select-numbers .circle {
    background: transparent;
    width: 50px;
    height: 50px;
    border: solid 3px #b9b9b9;
    float: left;
    margin: 3px;
    font-weight: 600;
}

.number {
    float: left;
}

.ordinal-number {
    margin: 0;
}