body {
    background-color: #f8f8f8;
}

.content-container {
    margin-top: 50px;
    max-width: 70%;
}

.content-item {
    background-color: #fafafa;
    border: solid 1px #dbdbdb;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    min-height: 100px;
    display: table;
}

#timer p {
    float: left;
    font-size: 50px;
    font-weight: 600;
}

.circle {
    border-radius: 50%;

}

.drawn-numbers {
    margin-top: 20px;
}

.drawn-numbers .circle {
    width: 30px;
    height: 30px;
    margin-left: 3px;
    margin-right: 5px;
    border: solid 3px #b9b9b9;
    background: #2b2b2b;
    float:left;
    color: white;
    font-weight: 600;
    text-align: center;
    display: table-cell;
    overflow: hidden;
    vertical-align: middle;
}

.drawn-numbers p {
    font-weight: 700;
}

.drum .circle {
    width: 200px;
    height: 200px;
    margin: auto;
    border: solid 10px #b9b9b9;
    background: #2b2b2b;
    color: white;
    font-weight: 600;
    font-size: 48px;
    padding: 50px;

}

#select-numbers {
    float: left;
    max-width: 480px;
}

#select-numbers .circle {
    background: transparent;
    width: 50px;
    height: 50px;
    border: solid 3px #b9b9b9;
    float: left;
    margin: 3px;
    font-weight: 600;
    text-align: center;
    display: table-cell;
    overflow: hidden;
    vertical-align: middle;
    padding: 10px;
    cursor: pointer;
}

#add-combination {
    float: right;
}

#btn-add-combination {
    margin-bottom: 3px;
}

.number {
    float: left;
}

.ordinal-number {
    margin: 0;
}

.ticket-purchase-container {
    min-height: 200px;
    max-height: 225px;
    border: solid 1px #dbdbdb;
    padding: 0;
    margin-bottom: 10px;
    overflow: auto;
}

.combination {
    background-color: white;
    border: solid 1px #dbdbdb;
    padding: 10px;
    text-align: center;
    margin-bottom: 1px;
    font-size: 16px;
    font-weight: 600;
    float: left;
    display: table-row;
}

#tickets-container .combination {
    min-height: 82px;
    border: solid 2px #ffe900; margin-bottom: 5px;
}

.combination span {
    float: right;
}

.combination .col-6 {
    float: left;
}

.combination .col-6 p {
    margin: 0;
}

.combination-info {
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    color: #b0aebc;
    font-style: italic;
}

.combination-holder {
    float: right;
    margin-top: 10px;
}

.combination-holder p {
    float: left;
}

#tickets-container p {
    margin-left: 3px;
    margin-right: 3px;
}

#notifications p {
    color: green;
    font-size: 22px;
    font-weight: 400;
}

#notifications {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tickets-container, #notifications {
    width: 100%;
}
